{% extends 'base.html' %}

{% block content %}
<form id="mainForm" method="post">
    {% for func in io %}
    {% if func.type == 'print' %}
    <{{func.magic}} {% if func.attrs %}{{func.attrs}}{% endif %}>{{func.attributes.output}}</{{func.magic}}>
    {% elif func.type == 'input' %}
    <p>
        {% if func.magic == "button" %}
        {% if func.options %}
        <label>{{func.attributes.prompt}}</label>
        {% for option in func.options %}
        {% set value = option %}
        <input name="{{func.attributes.index}}" value="{{value}}" {% if func.attributes.output %} disabled {% endif %} required
            type="submit" form="mainForm" {% if func.attrs %}{{func.attrs}}{% endif %}>
        {% endfor %}
        {% else %}
        <input name="{{func.attributes.index}}" value="{{func.attributes.prompt}}" {% if func.attributes.output %} disabled {% endif %} required
            type="submit" form="mainForm" {% if func.attrs %}{{func.attrs}}{% endif %}>
        {% endif %}
        {% elif func.magic == "radio" or func.magic == "checkbox" %}
        {% if func.options %}
        <label>{{func.attributes.prompt}}</label>
        {% for option in func.options %}
        {% set value = option %}
        <input name="{{func.attributes.index}}" value="{{value}}" {% if func.attributes.output %} disabled {% endif %}
            type="{{func.magic}}" form="mainForm" id="{{value}}" {% if func.attrs %}{{func.attrs}}{% endif %}>
        <label for="{{value}}">{{value}}</label>
        {% endfor %}
        {% else %}
        <input name="{{func.attributes.index}}" value="{{func.attributes.prompt}}" {% if func.attributes.output %} disabled {% endif %}
            type="{{func.magic}}" form="mainForm" {% if func.attrs %}{{func.attrs}}{% endif %}>
        <label for="{{func.attributes.prompt}}">{{func.attributes.prompt}}</label>
        {% endif %}
        {% else %}
        <label for="{{func.attributes.index}}">{{func.attributes.prompt}}</label>
        <input name="{{func.attributes.index}}" {% if func.attributes.output %} value="{{func.attributes.output}}" disabled {% endif %}
            type="{{func.magic}}" {% if func.attrs %}{{func.attrs}}{% endif %}>
        {%endif%}
    </p>
    {% endif %}
    {% endfor %}
    {% if error %}
    <code>Error: {{error}}</code>
    {% endif %}
</form>
<form id="resetForm" method="post" action="/reset"></form>

<p><input type="submit" value="Submit" form="mainForm"> <input type="submit" value="Reset" form="resetForm"></p>
{% endblock %}