{% extends 'base.html' %}

{% block content %}
<form id="mainForm" method="post">
    {% for func in io %}
    {% if func[0] == 'print' %}
    <{{func[2]}} {% if func[3] %}{{func[3]}}{% endif %}>{{func[1]}}</{{func[2]}}>
    {% elif func[0] == 'input' %}
    <p>
        {% if func[2] == "button" %}
        <input name="{{func[1][0]}}" value="{{func[1][1]}}" {% if func[1]|length==3 %} disabled {% endif %}
        required type="submit" form="mainForm" {% if func[3] %}{{func[3]}}{% endif %}>
        {% else %}
        <label for="{{func[1][0]}}">{{func[1][1]}}</label>
        <input name="{{func[1][0]}}" {% if func[1]|length==3 %} value="{{func[1][2]}}" disabled {% endif %}
            required type="{{func[2]}}" {% if func[3] %}{{func[3]}}{% endif %}>
        {%endif%}
    </p>
    {% endif %}
    {% endfor %}
    {% if error %}<code>Error: {{error}}</code>{% endif %}
</form>
<form id="resetForm" method="post" action="/reset"></form>

<p><input type="submit" value="Submit" form="mainForm"> <input type="submit" value="Reset" form="resetForm"></p>
{% endblock %}